htnl,
body,
#app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

main.section {
  flex-grow: 1;
}

.columns {
  align-items: stretch;
}

.highlight {
  background: rgba(255, 0, 0, 0.5);
  color: red;
}

.footer {
  padding: 1.5rem !important;
}

strong {
  color: inherit !important;
}

.card-content .subtitle {
  border-bottom: 2px solid rgba(0, 0, 0, 0.08);
  padding-bottom: 1.5rem;
}

